
Data/instances/imad/*.txt
Data/instances/script/*.swp
Data/instances/imad/*
Data/instances/script/__pycache__/*
Data/instances/script/~$DORDERSTAB_BETON.xlsx
Data/instances/script/~$DTICKETHISTAB_BETON.xlsx

Data/instances/script/instances/*
.Rhistory
Data/instances/script/Instance2/
Data/instances/script/tickets/
Data/instances/script/backup/
.ipynb_checkpoints/
.vscode/
Article/versions/13_01_23/cdp_ali.synctex.gz
modele/timing.mod
log/
script/cdp/
code/CMakeCache.txt
code/code
code/cmake_install.cmake
script/core*
code/CMakeFiles/
code/Makefile
script/code
build/
cmake-build-debug/
codeCDP/.cmake/
codeCDP/.idea/
.idea/
codeCQ/.cmake/
codeCQ/CMakeFiles/
codeCQ/Testing/
codeCQ/code
Data/instances/createInstance/__pycache__/
Data/instances/createInstance/data/~$DORDERSTAB_BETON.xlsx
solution/.DS_Store
.DS_Store
result/cq/~$instances.xlsx
solution/cq/__pycache__/
codeCQ/__pycache__/
ArticleCDP/articleCDP.bbl
ArticleCDP/articleCDP.synctex.gz
