Article/article.*
!Article/article.tex
!Article/article.pdf
Data/instances/imad/*.txt
Data/instances/script/*.swp
Data/instances/imad/*
Data/instances/script/__pycache__/*
Data/instances/script/~$DORDERSTAB_BETON.xlsx
Data/instances/script/~$DTICKETHISTAB_BETON.xlsx

Data/instances/script/instances/*
.Rhistory
Data/instances/script/Instance2/
Data/instances/script/tickets/
Data/instances/script/backup/
.ipynb_checkpoints/
.vscode/
Article/versions/13_01_23/cdp_ali.synctex.gz
modele/timing.mod
